{% extends 'base.html.twig' %}

{% block title %}votre panier!{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ asset('css/connecter.css') }}"> {% endblock %}
{% block body %}
<div class="container">
    <form action="/checkout" method="POST">
      <button type="submit">Checkout</button>
    </form>
</div>
{% endblock %}
