{% extends 'base.html.twig' %}

{% block title %}Vous avez payé avec succées!{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ asset('css/success.html.twig') }}"> {% endblock %}
{% block body %}
<div class="container">
            
        <div class="row content">
            <div class="col-md-6 mb-3">
                <img src="images/success.svg" class="img-fluid" alt="image">
            </div>
            
            <div class="col-md-6" id="form">
                <h1 class="text-center">Vous avez payé avec succées</h1>
            </div>
        </div>
</div>
{% endblock %}
