{% extends 'base.html.twig' %}

{% block title %} Mentions légales!{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ asset('css/mentions-légales.css') }}"> {% endblock %}
{% block body %}
<div class="contenant">
            <div class="texte_centrer">Mentions légales<br>
             <a id="item"class="btn btn-default" href="#cgu">Conditions d'utilisations</a>
                <a id="item"class="btn" href="#cgv">Conditions générales de ventes</a>
                 <a id="item"class="btn" href="#rgpd">Politique de confidentialité</a>
             </div>
            

            <img src="images/enfants2.png" alt="bonnes pratiques" id="image" style="opacity: 0.4;">
</div>
<br>
<h2 id="cgu">Conditions d'utilisations</h2>
<div class="container">
    <h3>ARTICLE 1 : INFORMATIONS LEGALES</h3>
    <span>Le site <strong> fruits&légumes.com </strong> est édité par :</span>
    <p>
        Marwen Mansour, dont le siège social est situé à l'adresse suivante : Route des Jeunes 23 (1227 Carouge), 
        et immatriculée au registre du commerce comme suit : CHE-XXX.XXX.XXX.
        <br>
        <strong>Adresse e-mail : </strong>fruitslegumes2022@gmail.com
    </p>
    <span>Le directeur de publication du site est :</span>
    <p>Marwen Mansour</p>
    <span>Le site <strong> fruits&légumes.com </strong> est hébergé par :</span>
    <p> exemple ( WIX.COM LTD, dont le siège est situé à l'adresse suivante : 40 Port de Tel Aviv, Tel Aviv Jaffa 6350671.)</p>
    
    <h3>ARTICLE 2 : PRESENTATION DU SITE</h3>
    <span>Le site <strong> fruits&légumes.com </strong> a pour objet:</span>
    <p>
    Site e-commerce de vente de fruits & légumes conçu pour faciliter cette mission pour le vendeur (administrateur) aussi bien que pour le client.
    </p>

    <h3>ARTICLE 3 : Contact</h3>
    <p>
        Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, 
        l'utilisateur peu contacter l'éditeur à l'adresse e-mail suivante : fruitslegumes2022@gmail.com
    </p>

     <h3>ARTICLE 4 : ACCEPTATION DES CONDITIONS</h3>
    <p>
    L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes conditions générales d'utilisation.
    <br><br>
    L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et les présentes conditions générales d'utilisation, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes.
    <br><br>
    ​Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des conditions générales d'utilisation, accessible à tout moment sur le site. En cas de désaccord avec les conditions générales d'utilisation, aucun usage du site ne saurait être effectué par l'utilisateur.
    </p> 

     <h3>ARTICLE 5 : ACCES ET NAVIGATION</h3>
    <p>
    L'éditeur met en oeuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jour, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.
    <br><br>
    La connexion et la navigation sur le site <strong> fruits&légumes.com </strong> valent l'acceptation sans réserve des présentes conditions générales d'utilisation, quelques soient les moyens techniques d'accès et les terminaux utilisés.
    <br><br>
    Les présentes conditions générales d'utilisation s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaire à venir.
    </p> 
    <h3>ARTICLE 6 : GESTION DU SITE</h3>
    <p>Pour la bonne gestion du site, l'éditeur pourra à tout moment :</p>
    <ul>
        <li class="li-ML" >Suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site,
         ou à certaines parties du site, 
        à une catégorie déterminée d'internaute(s) .
        </li>
        <li class="li-ML" >Supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales en vigueur .</li>
        <li class="li-ML" >Suspendre le site afin de procéder à des mises à jour.</li>
    </ul>
    <p>
    
    </p> 

    <h3>ARTICLE 7 : RESPONSABILITES</h3>
    <p>
    L'éditeur n'est responsable que du contenu qu'il a lui-même édité.<br><br>
    L'éditeur n'est pas responsable :
    </p> 
    <li class="li-ML" >
    En cas de problématique ou défaillance techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit .</li>
    <li class="li-ML" >Des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou des services .</li>
    <li class="li-ML" >Des caractéristiques intrinsèques de l'internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant .</li>
    <li class="li-ML" >Des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance.</li>
    <p>Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.
    <br><br>
    L'utilisateur est responsable :</p>
    <li class="li-ML" >De la protection de son matériel et de ses données .</li>
    <li class="li-ML" >De l'utilisation qu'il fait du site ou de ses services .</li>
    <li class="li-ML" >S'il ne respecte pas les présentes conditions générales d'utilisation.</li>

    <h3>ARTICLE 8 : LIENS HYPERTEXTES</h3>
    <p>
    Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels <strong> fruits&légumes.com </strong> n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisées par l'éditeur, celui-ci décline toute responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.
    <br><br>
    L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisés à des fins commerciales ou publicitaires.
    <br><br>
    En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.
    <br><br>
    Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.
    <br><br>
    Enfin, <strong> fruits&légumes.com </strong> se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si l'éditeur l'estime non conforme à sa politique éditoriale.
    </p> 
    <h3>ARTICLE 9 : PROPRIETE INTELLECTUELLE</h3>
    <p>
        La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur se trouvant dans le Code de la propriété intellectuelle suisse. Et ce, à l'exception des éléments expressément désignés comme libres de droits sur le site ou par l'éditeur
        <br><br>
        L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l'éditeur.
        <br><br>
        Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.
    </p>
</div>
    <h2 id="cgv" >Conditions générales de ventes</h2>
<div id="cgv" class="container">
<ul>
<li class="li-ML" >Conditions générales de vente des produits vendus sur <strong> fruits&légumes.com </strong></li>
<li class="li-ML" >Date de dernière mise à jour : 01/01/2022</li>
</ul>
<h3>ARTICLE 1 - OBJET</h3>
<p>Les présentes conditions régissent les ventes par Le site <strong> fruits&légumes.com </strong> dont le siège social se situe [Adresse de ton entreprise] et proposant des services de vente fruits & légumes.</p>
<h3>ARTICLE 2 - PRIX</h3>
<p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TVA et autres taxes applicables au jour de la commande), sauf indication contraire et hors frais de traitement et d'expédition.
<br><br>
En cas de commande vers un pays autre que la France métropolitaine vous êtes l'importateur du ou des produits concernés. Des droits de douane ou autres taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ces droits et sommes ne relèvent pas du ressort de le site <strong> fruits&légumes.com </strong>.
Ils seront à votre charge et relèvent de votre entière responsabilité, tant en termes de déclarations que de paiements aux autorités et organismes compétents de votre pays. Nous vous conseillons de vous renseigner sur ces aspects auprès de vos autorités locales.
Toutes les commandes quelle que soit leur origine sont payables en euros.
<br><br>
Le site <strong> fruits&légumes.com </strong> se réserve le droit de modifier ses prix à tout moment, mais le produit sera facturé sur la base du tarif en vigueur au moment de la validation de la commande et sous réserve de disponibilité. 
Les produits demeurent la propriété de le site <strong> fruits&légumes.com </strong> jusqu'au paiement complet du prix.  
</p>
<h3>ARTICLE 3 - COMMANDES</h3>
<p>
Vous pouvez passer commande :<br>
Détailler les modalités choisies, par exemple :  </p>
<ol>
    <li class="li-ML" >Sur Internet : <strong> fruits&légumes.com </strong></li>
    <li class="li-ML" >Par téléphone au [Ton numéro de téléphone] durant nos horaires d'ouverture de [Tes horaires d'ouverture].</li>
</ol>
<p>
Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de la validation de votre commande.
le site <strong> fruits&légumes.com </strong> se réserve le droit de ne pas enregistrer un paiement, et de ne pas confirmer une commande pour quelque raison que ce soit, et plus particulièrement en cas de problème d'approvisionnement, ou en cas de difficulté concernant la commande reçue.
</p>
<h3>ARTICLE 4 - VALIDATION DE VOTRE COMMANDE</h3>
<p>Toute commande figurant sur le site Internet <strong> fruits&légumes.com </strong> suppose l'adhésion aux présentes Conditions de vente. <br><br>Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve.
L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. 
Vous déclarez en avoir parfaite connaissance.<br><br>
La confirmation de commande vaudra signature et acceptation des opérations effectuées.
Un récapitulatif des informations de votre commande et des présentes Conditions Générales, vous sera communiqué en format PDF via l'adresse e-mail de confirmation de votre commande.
</p>


<h3>ARTICLE 5 - PAIEMENT</h3>
<p>
Le fait de valider votre commande implique pour vous l'obligation de payer le prix indiqué.<br>
Le règlement de vos achats s'effectue par carte bancaire grâce à nos systèmes de paiement sécurisés.<br>
Le débit de la carte n'est effectué qu'au moment de l'expédition de la commande. En cas de livraisons fractionnées, seuls les produits expédiés sont débités.
Nous proposons les systèmes de paiement suivant :<br><br>
<ul>
<li class="li-ML" >Stripe (Visa, Mastercard..)</li>
</ul>
</p>

<h3>ARTICLE 6 - RETRACTATION ET RETOURS</h3>
<p>
Conformément aux dispositions de l'article <strong>L.121-21 du Code de la Consommation </strong>, 
vous disposez d' <strong>un délai de rétractation de 14 
jours  </strong> à compter de la réception de vos produits pour exercer votre droit de rétraction sans avoir à 
justifier de motifs ni à payer de pénalité. <br><br>
Les retours sont à effectuer dans leur état d'origine et complets (emballage). Dans ce cadre, votre responsabilité est engagée. Tout dommage subi par le produit à cette occasion peut être de nature à faire échec au droit de rétractation.
Les frais de retour sont <strong>gratuits</strong>.<br><br>
En cas d'exercice du droit de rétractation, la société le site <strong> fruits&légumes.com </strong> procédera au remboursement des sommes versées, dans un délai de 14 jours suivant la notification de votre 
demande et via le même moyen de paiement que celui utilisé lors de la commande. <br><br>
<strong>Attention :</strong> dès que vous prenez possession physiquement des produits commandés, les risques de perte ou d'endommagement des produits vous sont transférés.

</p>

<h3> - EXCEPTIONS AU DROIT DE RETRACTATION</h3>
<p>
Conformément aux dispositions de <strong>l'article L.121-21-8 du Code de la Consommation</strong>, le droit de rétractation ne s'applique pas à :
<ul>
<li class="li-ML" >La fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.</li>
<li class="li-ML" >La fourniture de biens ou de services dont le prix dépend de fluctuations sur le marché financier échappant au contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation.</li>
<li class="li-ML" >La fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés.</li>
<li class="li-ML" >La fourniture de biens susceptibles de se détériorer ou de se périmer rapidement.</li>
<li class="li-ML" >La fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé.</li>
<li class="li-ML" >La fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles .</li>
<li class="li-ML" >Les transactions conclues lors d'une enchère publique.</li>

</ul>
</p>

<h3>ARTICLE 7- DISPONIBILITE</h3>
<p>
Nos produits sont proposés tant qu'ils sont visibles sur le site <strong> fruits&légumes.com </strong> et dans la limite des stocks disponibles. Pour les produits non stockés, nos offres sont valables sous réserve de disponibilité chez nos fournisseurs.<br><br>
En cas d'indisponibilité de produit après passation de votre commande, nous vous en informerons par mail. Votre commande sera automatiquement annulée et aucun débit bancaire ne sera effectué.<br><br>
En outre, le site Internet <strong> fruits&légumes.com </strong> n'a pas vocation à vendre ses produits en quantités importantes. Par conséquent la société <strong> [Raison sociale] </strong> se réserve le droit de refuser les commandes de <strong> [Nombre d'] </strong> articles identiques. <br><br>
</p>

<h3>ARTICLE 8 - LIVRAISON</h3>
<p>
Les produits sont livrés à l'adresse de livraison indiquée au cours du processus de commande, dans le délai indiqué sur la page de validation de la commande.<br><br>
En cas de retard d'expédition, un mail vous sera adressé pour vous informer d'une éventuelle conséquence sur le délai de livraison qui vous a été indiqué.<br><br>
Conformément aux dispositions légales, en cas de retard de livraison, vous bénéficiez de la possibilité d'annuler la commande dans les conditions et modalités définies à l'article <strong> L 138-2 du Code de la Consommation.</strong><br><br>
Si entre temps vous recevez le produit nous procéderons à son remboursement et aux frais d'acheminement dans les conditions de l'article <strong> L 138-3 du Code de la Consommation.</strong> <br><br>
En cas de livraisons par une transporteur, la société <strong> fruits&légumes.com </strong> ne peut être tenue pour responsable de retard de livraison dû exclusivement à une indisponibilité du client après plusieurs propositions de rendez-vous.

</p>
<h3>ARTICLE 9 - GARANTIE</h3>
<p>
Tous nos produits bénéficient de la garantie légale de conformité et de la garantie des vices cachés, prévues par les articles <strong> 1641 et suivants du Code civil.</strong> En cas de non-conformité d'un produit vendu, il pourra être retourné, échangé ou remboursé.<br><br>
Toutes les réclamations, demandes d'échange ou de remboursement doivent s'effectuer par <strong> [mail/téléphone/voie postale] </strong> dans un délai de 30 jours après la livraison.<br><br>
Les produits doivent nous être retournés dans l'état dans lequel vous les avez reçus avec l'ensemble des éléments (accessoires, emballage, notice...). Les frais d'envoi vous seront remboursés sur la base du tarif facturé et les frais de retour vous seront remboursés sur présentation des justificatifs.<br><br>
Les dispositions de cet Article ne vous empêchent pas de bénéficier du droit de rétractation prévu à <strong>l'article 6.</strong>

</p>
<h3>ARTICLE 10 - RESPONSABILITE</h3>
<p>
Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de la société <strong> fruits&légumes.com </strong> ne saurait être engagée en cas de non-respect de la législation du pays où le produit est livré. Il vous appartient de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou services que vous envisagez de commander.<br><br>
Par ailleurs, la société <strong> fruits&légumes.com </strong> ne saurait être tenue pour responsable des dommages résultant d'une mauvaise utilisation du produit acheté.<br><br>
Enfin la responsabilité de la société<strong> fruits&légumes.com</strong> ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques.
</p>
<h3>ARTICLE 11 - DROIT APPLICABLE EN CAS DE LITIGE</h3>
<p>
La langue du présent contrat est la langue française. Les présentes conditions de vente sont soumises à la loi française. En cas de litige, les tribunaux français seront les seuls compétents.
</p>
<h3>ARTICLE 12 - PROPRIETE INTELLECTUELLE</h3>
<p>
Tous les éléments du site <strong> fruits&légumes.com</strong> sont et restent la propriété intellectuelle et exclusive de la société <strong>[Raison sociale].</strong><br><br>
Nul n'est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient logiciels, visuels ou sonores. Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès de la société <strong>[Raison sociale].</strong>

</p>
<h3>ARTICLE 13 - DONNEES PERSONNELLES</h3>
<p>
La société <strong>fruits&légumes.com </strong>se réserve le droit de collecter les informations nominatives et les données personnelles vous concernant. Elles sont nécessaires à la gestion de votre commande, ainsi qu'à l'amélioration des services et des informations que nous vous adressons.<br><br>
Elles peuvent aussi être transmises aux sociétés qui contribuent à ces relations, telles que celles chargées de l'exécution des services et commandes pour leur gestion, exécution, traitement et paiement.<br><br>
Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires.<br><br>
Conformément à la<strong> loi du 6 janvier 1978,</strong> vous disposez d'un droit d'accès, de rectification et d'opposition aux informations nominatives et aux données personnelles vous concernant, directement sur le site Internet.

</p>
<h3>ARTICLE 14 - ARCHIVAGE / PREUVES</h3>
<p>
La société <strong> fruits&légumes.com </strong>archivera les bons de commandes et les factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l'article <strong>1348 du Code civil.</strong>

</p>
</div> 

<h2 id="rgpd">Politique de confidentialité</h2> 
<div class="container">
<ul>
<li class="li-ML" >Date de dernière mise à jour : 01/01/2022</li>
</ul>
<h3>ARTICLE 1 : COLLECTE DE VOS INFORMATIONS</h3>
<p>
Nous recueillons des informations lorsque vous remplissez nos <strong> formulaires de contact, de newsletter et lorsque vous réservez / achetez un de nos services / produits.</strong><br><br>
Nous pouvons récolter les informations suivantes <strong> : votre prénom, votre nom, votre adresse e-mail, votre numéro de téléphone, votre adresse et votre localité.</strong><br><br>
En outre, nous pouvons recevoir et enregistrer automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels et votre matériel, et la page que vous demandez selon vos préférences cookies que vous avez sélectionné via notre bandeau.<br><br>
<strong>[Texte à modifier dans le cas où tu ajoutes d'autres formulaires ou moyens de collecter les données. Le but est d'informer ton visiteur au sujet de ses données personnelles que tu collectes.<br><br>
Par exemple, si tu ajoutes un formulaire qui demande la couleur préférée de ton visiteur tu devras l'ajouter aux informations que tu collectes !]<br><br>
Paragraphes à supprimer avant la mise en ligne de ton site ! :-)</strong>

</p>
<h3>ARTICLE 2 : UTILISATION DE VOS INFORMATIONS</h3>
<p>
Toutes les informations que nous recueillons de votre part peuvent être utilisées pour :
</p>
<ul>
<li class="li-ML" >	Vous contacter de manière plus efficace ;</li>
<li class="li-ML" > Collecter et établir des statistiques pour améliorer nos campagnes marketing et webmarketing ;</li>
<li class="li-ML" > Vous envoyer des newsletters dans le cas où vous êtes inscrit(e)s à celles-ci ;</li>
<li class="li-ML" > Personnaliser votre expérience et répondre à vos besoins individuels.</li>
</ul>
<p>
<strong>
[Texte à modifier si tu décides de faire des choses supplémentaires avec ses données personnelles] - 
Paragraphe à supprimer avant la mise en ligne de ton site ! :-)
</strong>
</p>
<h3>ARTICLE 3 : CONFIDENTIALITE DE VOS DONNEES</h3>
<p>
Nous sommes les seuls propriétaires des informations recueillies sur notre site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison, sans votre consentement.
</p>
<h3>ARTICLE 4 : DIVULGATION A DES TIERS</h3>
<p>
Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.
</p>
<h3>ARTICLE 5 : PROTECTION DE VOS INFORMATIONS</h3>
<p>
Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Notre site internet possède bien entendu un <strong> Certificat SSL (Secure Socket Layer).</strong><br><br>
Nous protégeons également vos informations hors ligne. Seuls membres autorisés de l'entreprise qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou le service aux membres) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé par notre hébergeur.
</p>
<h3>ARTICLE 6 : COPIE OU SUPPRESSION DE VOS INFORMATIONS</h3>
<p>
Nous stockons les données transmises via nos différents formulaires de contact.
Cependant, vous avez la possibilité de nous contacter par e-mail à <strong>[Ton adresse e-mail]</strong> ou par téléphone au <strong> [Ton numéro de téléphone]</strong> pour toute demande de copie ou de suppression de vos données personnelles que nous stockons.

</p>
<h3>ARTICLE 7 : ENVOI DE NEWSLETTERS</h3>
<p>
Si vous êtes concerné(e)s par l'envoi de notre newsletter, vous pouvez en tout temps vous désabonner de celles-ci via une proposition sur le bas de chaque e-mail.
</p>
<h3>ARTICLE 8 : POLITIQUE DE L'HEBERGEUR</h3>
<p>
Notre hébergeur possède sa propre politique de confidentialité concernant l'utilisation de vos données que vous pouvez consulter en tout temps <strong> [ici : lien de la politique de confidentialité de l'hébergeur].</strong> 
</p>
<h3>ARTICLE 9 : CONSENTEMENT A NOTRE POLITIQUE</h3>
<p>
En utilisant notre site, vous consentez à notre politique de confidentialité et que celle-ci puisse être modifiée en tout temps par l'éditeur
</p>
</div>

{% endblock %}
