@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #ecf0f1;
    text-align: justify;
    
}
main{
    line-height: 2.25em;
}

.btn {
    background-color: #A3CB38;
    color: #fff;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #fff;
    color: #A3CB38;
    
}
ul , li {
    text-align: left;
}
#bouton{
    margin-top: 20px;
    margin-left: 42%;
   
}
/* #fond{
    background-image: url("../images/bonne-pra.jpg");
    height:70vh;
    display:flex;
    align-items:center;
    background-size:cover;
    background-position-y:center;
    opacity: 0.65;
} */
span{
    font-weight:bold;
}
/* 
@media (min-width: 1200px)
.container {
    max-width: 1000px;
} */
#para{
    padding-top: 60px;
}


img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* opacity: 0.4; */
}

.contenant {
    position: relative;
    text-align: center;
    color:#fff;
    background: rgba(0, 0, 0, 0.7);
  }
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:60px;
    font-weight: 600;
    letter-spacing: 4px;
    z-index: 1000;
    text-justify: auto;
  }

  @media screen and (min-width: 540px){
    .texte_centrer {
        font-size: 40px;
    }
  }