@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #ecf0f1;
}
#form{
    margin-top:10px;
}
.content{
 
    margin:4% 8%;
    background-color:#fff;
    padding:2rem 1rem 2rem 2rem;
    box-shadow: 0 0 5px 5px rgb(0,0,0, .05);
    border-radius: 20px;
}

.form-control{
    width:100%;
    font-size: 1rem;
    font-weight:400;
    line-height:1.5;
    border-radius: 0;
    border-color: #55ac56 !important;
    border-style:solid !important;
    border-width: 0 0 1px 0!important;
    padding:0px !important;
    color:#495057;
    height:auto;
    background-color: #fff;
    background-clip: padding-box;
    
}
.form-control:focus{
    color:#495057;
    background-color: #fff;
    border-color: #fff;
    outline:0;
    box-shadow:none;
}
.btn-class{
    border-color:  #55ac56;
    color:  #55ac56;
}
.btn-class:hover{
    background-color:  #55ac56;
    color:#fff;
}
.signin-text{
    font-style:normal;
    font-weight :600 !important;
}

.btn {
    background-color: #A3CB38;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #fff;
    color: #A3CB38;
    
}
.row{
    justify-content: center;
    align-items: center;
}
@media (min-width:350px) and (max-width:500px) {
    .content{
        padding:1rem;
    }
}