@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #ecf0f1;
}
.b-example-divider {
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  #footer{
    margin-top: 30px;
  }
  a:hover {
    text-decoration:none;
  }
  li{
    margin-left: 5px;
  }
  .banniere{
    /* border-top: #000 5px solid; */
    background: rgba(163,203,56,0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    z-index: 1000;
  }
  .text-banniere{
    font-size: large;
    font-weight: 900;
  }
  .button-banniere{
    padding: 15px 5px;
  }
  .button-banniere a{
    border: solid  1px #fff;
    padding:  15px 5px;
    background: #55ac56;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
  .button-banniere a:hover{
    border-color: #55ac56;
    background: #fff;
    color: #55ac56;
  }
  @media (min-width:350px) and (max-width:415px) {
    
    .banniere{
      padding: 5px;
    }
    .button-banniere{
      padding: 15px 0px;
    }
    .text-banniere{
      padding: 2px 2px;
      font-size: 15px;
      font-weight: 600;
    }
    .button-banniere a{
      padding: 5px 3.5px;
      font-size: 16px;
    }
}
@media  (min-width:350px) and (max-width:500px){
  .media{
    display: none!important;
  }
}