@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #ecf0f1;
}

.contenant {
    position: relative;
    text-align: center;
    color:#fff;
    background: rgba(0, 0, 0, 0.7);
  }
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:60px;
    font-weight: 600;
    letter-spacing: 4px;
    z-index: 1000;
    text-justify: auto;
  }  
  img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* opacity: 0.4; */
    }

h1{
    text-align: center;
    padding: 20px;
    background-color: #1c7c64;
    color: #fff;
}
h2{
    text-align: center;
    padding: 40px;
    font-size: 35px;
    background-color:  #1c7c64;
    color: #fff;
}
span{
    text-decoration: underline;
    font-size: 20px;
}
p{
    text-align: justify;
    padding-top: 18px;
    font-size: 20px;
}
h3{
    color: #000;
    font-weight: 900;
    padding: 20px 0;
}
.li-ML{
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}
#item{
    font-size: 15px;
    width: 48%;
}