
.navbar{
    padding:10px 10px;
    font-family: 'Times New Roman', Times, serif;

}


.navbar-brand{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: #A3CB38;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #A3CB38;
    color: #fff;
}


.btn {
    background-color: #A3CB38;
    color: #fff;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    /* display: flex; */
    text-align: center;
    margin: 10px;
}
.btn:hover{
    background-color: #fff;
    color: #55ac56;
    
}

a{
    z-index: 1500;
}

#bouton{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand > img{
    min-height: 0vh;
    width: 130px;
    margin-right: 12px;
}