@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #ecf0f1;
}
.content{
    margin:4% 8%;
    background-color:#fff;
    padding:4rem 1rem 2rem 4rem;
    box-shadow: 0 0 5px 5px rgb(0,0,0, .05);
    border-radius: 20px;
}
.container{
    max-width: 1100px;
}
.signin-text{
    font-style:normal;
    font-weight :600 !important;
}
.form-control{
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight:400;
    line-height:1.5;
    border-color: #55ac56 !important;
    border-style:solid !important;
    border-width: 0 0 1px 0!important;
    padding:0px !important;
    color:#495057;
    height:auto;
    border-radius:0;
    background-color: #fff;
    background-clip: padding-box;
    
}
.form-control:focus{
    color:#495057;
    background-color: #fff;
    border-color: #fff;
    outline:0;
    box-shadow:none;
}
.btn-class{
    border-color:  #55ac56;
    color:  #55ac56;
}
.btn-class:hover{
    background-color:  #55ac56;
    color:#fff;
}

/* #form{
    top: 70px;
} */
/*nav bar*/


.btn {
    background-color: #A3CB38;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #fff;
    color: #A3CB38;
    
}
.row{
    align-items: center;
}
@media (min-width:350px) and (max-width:500px) {
    .content{
        padding: 15% 5%;
    }
}