@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #ecf0f1;
    /* text-align: justify; */
    
}
.bouton{
    padding: 2px;
    font-size: 12px;
    text-transform: none;
}