{% extends 'base.html.twig' %}


{% block title %} Nous contacter {% endblock %}
{% block css %} <link rel="stylesheet" href="{{ asset('css/contacter.css') }}"> {% endblock %}

{% block body %}
<div class="container mt-5">
        
        {% if notif is not empty %}
            <div class="alert alert-success" role="alert">
                <p class="text">{{ notif }}</p>
            </div>
        {% endif %}

        <div class="row content" >
            <div class="col-md-6 mb-3">
                <img src="images/contacter.svg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-6" id="form">
                {{ form(formulaire) }}
            </div>
        </div>
</div>
{% endblock %}
