
    
    {{ include('calendrier/add.html.twig', {'title_label': 'Éditer le produit'}) }}

    <a href="{{ path('calendrier') }}">back to list</a>

    {# {{ include('calendrier/_delete_form.html.twig') }} #}
