{% extends 'base.html.twig' %}

{% block title %}La diversification alimentaire |  {{ parent() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('css/diversification_alimentaire.css') }}">
{% endblock %}
{% block body %}

<div class="contenant">
            <div class="texte_centrer">Je grandis avec les fruits et légumes frais</div>
            <img src="images/enfants2.png" alt="bonnes pratiques" id="image" style="opacity: 0.4;">
</div>
      <main>
        <section class="container">
          <h1>Une alimentation savoureuse et riche en fruits et légumes pour bien grandir</h1>
          <article class="row .align-items-center">
            <div class='col-md-6'>
              <p>
                Ils sont si bons, si colorés et si variés, les fruits et légumes frais ! Grâce à eux, 
                tu peux manger l’été de fabuleuses tartes aux abricots, 
                te réchauffer l’hiver avec de super gratins de chou-fleur qui croustillent, 
                ou dévorer au printemps de bonnes fraises bien sucrées. 
                Du coup, tous les gourmands les aiment ! Et en plus, c’est bon pour ta santé. 
                Alors pour se régaler, bien grandir et faire le plein de tonus tout au long de l’année, 
                on met le paquet sur les fruits et légumes frais !
              </p>
            </div>

            <div class='col-md-6'>
              <img src="images/santé.png" alt="santé" class="santé">
            </div>
            
          </article>
          <main class="container">
          <h1>Pourquoi les fruits et légumes frais, c’est bon pour la santé ?</h1>
          <p>Parce que dans les fruits et légumes frais possèdent une foule de composants utiles au bon fonctionnement de ton corps.</p>
          <h2>Des vitamines</h2>
          <p>
            La vitamine C te permet de rester en forme et aide ton corps à se défendre contre les maladies. Il n’y a que les fruits et légumes qui peuvent t’en apporter.
            Les vitamines B permettent aux cellules de ton corps de bien fonctionner.
            Les carotènes se transforment dans ton corps en vitamine A et c’est cette vitamine qui te fait grandir et qui est bonne notamment pour ta vue.
            
            Des minéraux, comme le calcium, le magnésium, le fer, le cuivre et le fluor. Ton organisme en a absolument besoin. Et grâce au calcium, tes os peuvent bien grandir.
          </p>
          <article>

          </article>
          </section>  
      </main>
{% endblock %}
